# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
terraform.tfvars
terraform.tfvars.json
.terraform.lock.hcl

# Logs
logs/
*.log

# Env
.env
.env.*

# Keys
*.pem

